///////////////////////////
// default icons for CTA //
///////////////////////////
.invBikeSpecs, .invViewDetails {
	// fa-cogs
	span:first-child:before {
		content: '\f085';
	}
}

.invContactUs {
	// fa-envelope-o
	span:first-child:before {
		content: '\f003';
	}
}

.invGetFinancing, .invInsuranceQuote {
	// fa-dollar
	span:first-child:before {
		content: '\f155';
	}
}

.invInsQuoteLink {
	span:first-child:before {
		content: '\f0e6';
	}
}

.invGetQuote {
	// fa-comment-o
	span:first-child:before {
		content: '\f0e5';
	}
}

.invDigitalRetailing {
	// fa-comment-o
	span:first-child:before {
		content: '\f0e5';
	}
}

.invRAU {
    // fa-check-circle
    span:first-child:before {
        content: '\f058';
    }
}

.invPrintVehicle {
	// fa-print
	span:first-child:before {
		content: '\f02f';
	}
}

.invScheduleRide {
	// fa-calendar
	span:first-child:before {
		content: '\f073';
	}
}

.invSendToFriend {
	// fa-paper-plane-o
	span:first-child:before {
		content: '\f1d9';
	}
}

.invValueTrade {
	// fa-exchange
	span:first-child:before {
		content: '\f0ec';
	}
}

.invVINCheck {
	span:first-child:before {
		content: '\f085';
	}
}

.invLowestPrice {
	span:first-child:before {
		content: '\f0d6';
	}
}

.invShareVehicle {
	span:first-child:before {
		content: '\f1e0';
	}
}
		
.invRentalAvailability {
	// fa-calendar
	span:first-child:before {
		content: '\f073';
	}
}