
@light-gray:            lighten(#b6b6b6, 10%);
@med-gray:              #404040;
@dark-gray:             #181818;

// typography
// -------------------------
// font families
@font-family-title:       'Roboto Condensed', Helvetica, Arial, sans-serif;
@font-family-title-v7:    'Roboto Condensed', Helvetica, Arial, sans-serif;
@font-family-text-v7:     'Open Sans', Helvetica, Arial, sans-serif;
@font-family-arial:        Arial, Helvetica, sans-serif;
@font-family-sans-serif:  'Work Sans', Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;