/*! nouislider - 9.0.0 - 2016-09-29 21:44:02 */


/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
	touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
	user-select: none;
-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-target {
	position: relative;
	direction: ltr;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1; /* Fix 401 */
}
.noUi-connect {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-origin {
	position: absolute;
	height: 0;
	width: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
-webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 18px;
}
.noUi-horizontal .noUi-handle {
	width: 34px;
	height: 28px;
	left: -17px;
	top: -6px;
}
.noUi-vertical {
	width: 18px;
}
.noUi-vertical .noUi-handle {
	width: 28px;
	height: 34px;
	left: -6px;
	top: -17px;
}

/* Styling;
 */
.noUi-target {
	background: #FAFAFA;
	border-radius: 4px;
	border: 1px solid #D3D3D3;
	box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connect {
	background: #3FB8AF;
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
-webkit-transition: background 450ms;
	transition: background 450ms;
}

/* Handles and cursors;
 */
.noUi-draggable {
	cursor: w-resize;
}
.noUi-vertical .noUi-draggable {
	cursor: n-resize;
}
.noUi-handle {
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #FFF;
	cursor: default;
	box-shadow: inset 0 0 1px #FFF,
				inset 0 1px 7px #EBEBEB,
				0 3px 6px -3px #BBB;
}
.noUi-active {
	box-shadow: inset 0 0 1px #FFF,
				inset 0 1px 7px #DDD,
				0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
	content: "";
	display: block;
	position: absolute;
	height: 14px;
	width: 1px;
	background: #E8E7E6;
	left: 14px;
	top: 6px;
}
.noUi-handle:after {
	left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
	width: 14px;
	height: 1px;
	left: 6px;
	top: 14px;
}
.noUi-vertical .noUi-handle:after {
	top: 17px;
}

/* Disabled state;
 */

[disabled] .noUi-connect {
	background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
	cursor: not-allowed;
}


/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-pips {
	position: absolute;
	color: #999;
}

/* Values;
 *
 */
.noUi-value {
	position: absolute;
	text-align: center;
}
.noUi-value-sub {
	color: #ccc;
	font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
	position: absolute;
	background: #CCC;
}
.noUi-marker-sub {
	background: #AAA;
}
.noUi-marker-large {
	background: #AAA;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
	padding: 10px 0;
	height: auto;
	top: 100%;
	left: 0;
	width: 100%;
}
.noUi-value-horizontal {
	-webkit-transform: translate3d(-50%,50%,0);
	transform: translate3d(-50%,50%,0);
}

.noUi-marker-horizontal.noUi-marker {
	margin-left: -1px;
	width: 2px;
	height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
	height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
	height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
	padding: 0 10px;
	height: 100%;
	top: 0;
	left: 100%;
}
.noUi-value-vertical {
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
	padding-left: 25px;
}

.noUi-marker-vertical.noUi-marker {
	width: 5px;
	height: 2px;
	margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
	width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
	width: 15px;
}

.noUi-tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #fff;
	color: #000;
	padding: 5px;
	text-align: center;
}
.noUi-horizontal .noUi-tooltip {
-webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
-webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    right: 120%;
}

/*! Reflex v1.3.0 - https://github.com/leejordan/reflex */
/*
 *
 * Reflex is a flexbox grid which provides a way to take advantage of emerging
 * flexbox support while providing a fall back to inline-block on older browsers
 *
 * Built by Lee Jordan G.C.S.E.
 * email: ldjordan@gmail.com
 * github: https://github.com/leejordan
 *
 * Structure and calculations are inspired by twitter bootstrap
 * The MIT License (MIT)

    Copyright (c) 2015 Lee Jordan

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
 */
body.GRIDVIEW .ds-grid {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  *display: inline;
  zoom: 1;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
  letter-spacing: -0.31em !important;
  *letter-spacing: normal !important;
  word-spacing: -0.43em !important;
  list-style-type: none;
}
body.GRIDVIEW .ds-grid:before,
body.GRIDVIEW .ds-grid:after {
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  max-width: 100%;
}
body.GRIDVIEW .ds-grid *:before,
body.GRIDVIEW .ds-grid *:after {
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
}
body.GRIDVIEW .ds-grid .ds-grid {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
body.GRIDVIEW .ds-grid * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.GRIDVIEW .ds-grid *:before,
body.GRIDVIEW .ds-grid *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.GRIDVIEW [class*="ds-grid__col-"] {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  *display: inline;
  zoom: 1;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 1em 1em;
}
body.GRIDVIEW .ds-grid__cell {
  position: relative;
  display: block;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
body.GRIDVIEW _:-ms-fullscreen,
body.GRIDVIEW :root .grid__cell {
  width: 100%;
}
body.GRIDVIEW .ds-grid__col-12 {
  width: 100%;
  *width: 99.9%;
}
body.GRIDVIEW .ds-grid__col-11 {
  width: 91.66666667%;
  *width: 91.56666667%;
}
body.GRIDVIEW .ds-grid__col-10 {
  width: 83.33333333%;
  *width: 83.23333333%;
}
body.GRIDVIEW .ds-grid__col-9 {
  width: 75%;
  *width: 74.9%;
}
body.GRIDVIEW .ds-grid__col-8 {
  width: 66.66666667%;
  *width: 66.56666667%;
}
body.GRIDVIEW .ds-grid__col-7 {
  width: 58.33333333%;
  *width: 58.23333333%;
}
body.GRIDVIEW .ds-grid__col-6 {
  width: 50%;
  *width: 49.9%;
}
body.GRIDVIEW .ds-grid__col-5 {
  width: 41.66666667%;
  *width: 41.56666667%;
}
body.GRIDVIEW .ds-grid__col-4 {
  width: 33.33333333%;
  *width: 33.23333333%;
}
body.GRIDVIEW .ds-grid__col-3 {
  width: 25%;
  *width: 24.9%;
}
body.GRIDVIEW .ds-grid__col-2 {
  width: 16.66666667%;
  *width: 16.56666667%;
}
body.GRIDVIEW .ds-grid__col-1 {
  width: 8.33333333%;
  *width: 8.23333333%;
}
@media (min-width: 480px) {
  body.GRIDVIEW .ds-grid__col-xs-12 {
    width: 100%;
    *width: 99.9%;
  }
  body.GRIDVIEW .ds-grid__col-xs-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-xs-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-xs-9 {
    width: 75%;
    *width: 74.9%;
  }
  body.GRIDVIEW .ds-grid__col-xs-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-xs-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-xs-6 {
    width: 50%;
    *width: 49.9%;
  }
  body.GRIDVIEW .ds-grid__col-xs-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-xs-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-xs-3 {
    width: 25%;
    *width: 24.9%;
  }
  body.GRIDVIEW .ds-grid__col-xs-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-xs-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
@media (min-width: 768px) {
  body.GRIDVIEW .ds-grid__col-sm-12 {
    width: 100%;
    *width: 99.9%;
  }
  body.GRIDVIEW .ds-grid__col-sm-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-sm-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-sm-9 {
    width: 75%;
    *width: 74.9%;
  }
  body.GRIDVIEW .ds-grid__col-sm-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-sm-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-sm-6 {
    width: 50%;
    *width: 49.9%;
  }
  body.GRIDVIEW .ds-grid__col-sm-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-sm-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-sm-3 {
    width: 25%;
    *width: 24.9%;
  }
  body.GRIDVIEW .ds-grid__col-sm-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-sm-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
@media (min-width: 992px) {
  body.GRIDVIEW .ds-grid__col-md-12 {
    width: 100%;
    *width: 99.9%;
  }
  body.GRIDVIEW .ds-grid__col-md-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-md-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-md-9 {
    width: 75%;
    *width: 74.9%;
  }
  body.GRIDVIEW .ds-grid__col-md-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-md-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-md-6 {
    width: 50%;
    *width: 49.9%;
  }
  body.GRIDVIEW .ds-grid__col-md-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-md-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-md-3 {
    width: 25%;
    *width: 24.9%;
  }
  body.GRIDVIEW .ds-grid__col-md-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-md-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
@media (min-width: 1200px) {
  body.GRIDVIEW .ds-grid__col-lg-12 {
    width: 100%;
    *width: 99.9%;
  }
  body.GRIDVIEW .ds-grid__col-lg-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-lg-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-lg-9 {
    width: 75%;
    *width: 74.9%;
  }
  body.GRIDVIEW .ds-grid__col-lg-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-lg-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-lg-6 {
    width: 50%;
    *width: 49.9%;
  }
  body.GRIDVIEW .ds-grid__col-lg-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-lg-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-lg-3 {
    width: 25%;
    *width: 24.9%;
  }
  body.GRIDVIEW .ds-grid__col-lg-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-lg-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
@media (min-width: 1600px) {
  body.GRIDVIEW .ds-grid__col-xlg-12 {
    width: 100%;
    *width: 99.9%;
  }
  body.GRIDVIEW .ds-grid__col-xlg-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-xlg-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-xlg-9 {
    width: 75%;
    *width: 74.9%;
  }
  body.GRIDVIEW .ds-grid__col-xlg-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-xlg-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-xlg-6 {
    width: 50%;
    *width: 49.9%;
  }
  body.GRIDVIEW .ds-grid__col-xlg-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-xlg-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  body.GRIDVIEW .ds-grid__col-xlg-3 {
    width: 25%;
    *width: 24.9%;
  }
  body.GRIDVIEW .ds-grid__col-xlg-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  body.GRIDVIEW .ds-grid__col-xlg-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
body.GRIDVIEW .ds-grid__col-auto {
  -ms-flex: 1 0 auto;
  -ms-flex: 1 0 0px;
  -webkit-flex: 1 0 0px;
  flex: 1 0 0px;
  width: auto !important;
  max-width: 100%;
}
@media (min-width: 480px) {
  body.GRIDVIEW .ds-grid__col-xs-auto {
    -ms-flex: 1 0 auto;
    -ms-flex: 1 0 0px;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  body.GRIDVIEW .ds-grid__col-sm-auto {
    -ms-flex: 1 0 auto;
    -ms-flex: 1 0 0px;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  body.GRIDVIEW .ds-grid__col-md-auto {
    -ms-flex: 1 0 auto;
    -ms-flex: 1 0 0px;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  body.GRIDVIEW .ds-grid__col-lg-auto {
    -ms-flex: 1 0 auto;
    -ms-flex: 1 0 0px;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}
@media (min-width: 1600px) {
  body.GRIDVIEW .ds-grid__col-xlg-auto {
    -ms-flex: 1 0 auto;
    -ms-flex: 1 0 0px;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}
body.GRIDVIEW .ds-grid--order-12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12;
}
body.GRIDVIEW .ds-grid--order-11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11;
}
body.GRIDVIEW .ds-grid--order-10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}
body.GRIDVIEW .ds-grid--order-9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9;
}
body.GRIDVIEW .ds-grid--order-8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}
body.GRIDVIEW .ds-grid--order-7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}
body.GRIDVIEW .ds-grid--order-6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}
body.GRIDVIEW .ds-grid--order-5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}
body.GRIDVIEW .ds-grid--order-4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}
body.GRIDVIEW .ds-grid--order-3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
body.GRIDVIEW .ds-grid--order-2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
body.GRIDVIEW .ds-grid--order-1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
body.GRIDVIEW .ds-grid--order-0 {
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}
@media only screen and (min-width: 480px) {
  body.GRIDVIEW .ds-grid--order-12-xs {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  body.GRIDVIEW .ds-grid--order-11-xs {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  body.GRIDVIEW .ds-grid--order-10-xs {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  body.GRIDVIEW .ds-grid--order-9-xs {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  body.GRIDVIEW .ds-grid--order-8-xs {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  body.GRIDVIEW .ds-grid--order-7-xs {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  body.GRIDVIEW .ds-grid--order-6-xs {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  body.GRIDVIEW .ds-grid--order-5-xs {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  body.GRIDVIEW .ds-grid--order-4-xs {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  body.GRIDVIEW .ds-grid--order-3-xs {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  body.GRIDVIEW .ds-grid--order-2-xs {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  body.GRIDVIEW .ds-grid--order-1-xs {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  body.GRIDVIEW .ds-grid--order-0-xs {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 768px) {
  body.GRIDVIEW .ds-grid--order-12-sm {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  body.GRIDVIEW .ds-grid--order-11-sm {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  body.GRIDVIEW .ds-grid--order-10-sm {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  body.GRIDVIEW .ds-grid--order-9-sm {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  body.GRIDVIEW .ds-grid--order-8-sm {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  body.GRIDVIEW .ds-grid--order-7-sm {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  body.GRIDVIEW .ds-grid--order-6-sm {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  body.GRIDVIEW .ds-grid--order-5-sm {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  body.GRIDVIEW .ds-grid--order-4-sm {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  body.GRIDVIEW .ds-grid--order-3-sm {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  body.GRIDVIEW .ds-grid--order-2-sm {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  body.GRIDVIEW .ds-grid--order-1-sm {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  body.GRIDVIEW .ds-grid--order-0-sm {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 992px) {
  body.GRIDVIEW .ds-grid--order-12-md {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  body.GRIDVIEW .ds-grid--order-11-md {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  body.GRIDVIEW .ds-grid--order-10-md {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  body.GRIDVIEW .ds-grid--order-9-md {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  body.GRIDVIEW .ds-grid--order-8-md {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  body.GRIDVIEW .ds-grid--order-7-md {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  body.GRIDVIEW .ds-grid--order-6-md {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  body.GRIDVIEW .ds-grid--order-5-md {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  body.GRIDVIEW .ds-grid--order-4-md {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  body.GRIDVIEW .ds-grid--order-3-md {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  body.GRIDVIEW .ds-grid--order-2-md {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  body.GRIDVIEW .ds-grid--order-1-md {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  body.GRIDVIEW .ds-grid--order-0-md {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 1200px) {
  body.GRIDVIEW .ds-grid--order-12-lg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  body.GRIDVIEW .ds-grid--order-11-lg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  body.GRIDVIEW .ds-grid--order-10-lg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  body.GRIDVIEW .ds-grid--order-9-lg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  body.GRIDVIEW .ds-grid--order-8-lg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  body.GRIDVIEW .ds-grid--order-7-lg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  body.GRIDVIEW .ds-grid--order-6-lg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  body.GRIDVIEW .ds-grid--order-5-lg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  body.GRIDVIEW .ds-grid--order-4-lg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  body.GRIDVIEW .ds-grid--order-3-lg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  body.GRIDVIEW .ds-grid--order-2-lg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  body.GRIDVIEW .ds-grid--order-1-lg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  body.GRIDVIEW .ds-grid--order-0-lg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 1600px) {
  body.GRIDVIEW .ds-grid--order-12-xlg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  body.GRIDVIEW .ds-grid--order-11-xlg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  body.GRIDVIEW .ds-grid--order-10-xlg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  body.GRIDVIEW .ds-grid--order-9-xlg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  body.GRIDVIEW .ds-grid--order-8-xlg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  body.GRIDVIEW .ds-grid--order-7-xlg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  body.GRIDVIEW .ds-grid--order-6-xlg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  body.GRIDVIEW .ds-grid--order-5-xlg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  body.GRIDVIEW .ds-grid--order-4-xlg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  body.GRIDVIEW .ds-grid--order-3-xlg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  body.GRIDVIEW .ds-grid--order-2-xlg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  body.GRIDVIEW .ds-grid--order-1-xlg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  body.GRIDVIEW .ds-grid--order-0-xlg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
body.GRIDVIEW .ds-grid--bleed [class*="ds-grid__col-"] {
  padding: 0;
}
body.GRIDVIEW .ds-grid--wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
body.GRIDVIEW .ds-grid--no-wrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
body.GRIDVIEW .ds-grid--wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
body.GRIDVIEW .ds-grid--direction-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
body.GRIDVIEW .ds-grid--direction-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
body.GRIDVIEW .ds-grid--direction-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
body.GRIDVIEW .ds-grid--direction-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
body.GRIDVIEW .ds-grid--align-start {
  -ms-flex-align: start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
body.GRIDVIEW .ds-grid--align-end {
  -ms-flex-align: end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
body.GRIDVIEW .ds-grid--align-end [class*="ds-grid__col-"] {
  vertical-align: bottom;
}
body.GRIDVIEW .ds-grid--align-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
body.GRIDVIEW .ds-grid--align-center [class*="ds-grid__col-"] {
  vertical-align: middle;
}
body.GRIDVIEW .ds-grid--align-baseline {
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}
body.GRIDVIEW .ds-grid--align-baseline [class*="ds-grid__col-"] {
  vertical-align: baseline;
}
body.GRIDVIEW .ds-grid--align-content-start {
  -ms-flex-line-pack: start;
  -ms-flex-line-pack: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
body.GRIDVIEW .ds-grid--align-content-end {
  -ms-flex-line-pack: end;
  -ms-flex-line-pack: flex-end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}
body.GRIDVIEW .ds-grid--align-content-end [class*="ds-grid__col-"] {
  vertical-align: bottom;
}
body.GRIDVIEW .ds-grid--align-content-center {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
body.GRIDVIEW .ds-grid--align-content-space-between {
  -ms-flex-line-pack: space-between;
  -webkit-align-content: space-between;
  align-content: space-between;
}
body.GRIDVIEW .ds-grid--align-content-space-around {
  -ms-flex-line-pack: space-around;
  -webkit-align-content: space-around;
  align-content: space-around;
}
body.GRIDVIEW .ds-grid--align-self-stretch {
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}
body.GRIDVIEW .ds-grid--align-self-start {
  -ms-flex-item-align: start;
  -ms-flex-item-align: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
body.GRIDVIEW .ds-grid--align-self-end {
  -ms-flex-item-align: end;
  -ms-flex-item-align: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  vertical-align: bottom;
}
body.GRIDVIEW .ds-grid--align-self-center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  vertical-align: middle;
}
body.GRIDVIEW .ds-grid--align-self-baseline {
  -ms-flex-item-align: baseline;
  -webkit-align-self: baseline;
  align-self: baseline;
  vertical-align: baseline;
}
body.GRIDVIEW .ds-grid--justify-start {
  text-align: left;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
body.GRIDVIEW .ds-grid--justify-end {
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
body.GRIDVIEW .ds-grid--justify-end .ds-grid__cell,
body.GRIDVIEW .ds-grid--justify-end [class*="ds-grid__col-"] {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial;
}
body.GRIDVIEW .ds-grid--justify-center {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
body.GRIDVIEW .ds-grid--justify-center .ds-grid__cell,
body.GRIDVIEW .ds-grid--justify-center [class*="ds-grid__col-"] {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial;
}
body.GRIDVIEW .ds-grid--justify-space-between {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
body.GRIDVIEW .ds-grid--justify-space-between .ds-grid__cell,
body.GRIDVIEW .ds-grid--justify-space-between [class*="ds-grid__col-"] {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial;
}
body.GRIDVIEW .ds-grid--justify-space-around {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
body.GRIDVIEW .ds-grid--justify-space-around .ds-grid__cell,
body.GRIDVIEW .ds-grid--justify-space-around [class*="ds-grid__col-"] {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial;
}
body.GRIDVIEW .ds-grid__col--bleed {
  padding: 0;
}
body.GRIDVIEW .ds-grid__col--bleed-x {
  padding: 1em 0;
}
body.GRIDVIEW .ds-grid__col--bleed-y {
  padding: 0 1em;
}
body.GRIDVIEW .ds-grid__col--bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 50%;
}
body.GRIDVIEW .ds-grid__cell--padding-sm {
  padding: 0.5em;
}
body.GRIDVIEW .ds-grid__cell--padding-md {
  padding: 1em;
}
body.GRIDVIEW .ds-grid__cell--padding-lg {
  padding: 2em;
}
body.GRIDVIEW .ds-grid__cell-img {
  display: block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}
body.GRIDVIEW .ds-grid__cell-footer {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  *display: inline;
  zoom: 1;
  width: 100%;
  margin-top: auto;
}
