.index-need {
  background-color: lighten(@black, 6%);
  > div {
    .container;
    padding-top: 36px;
    padding-bottom: 30px;
    @media (min-width: @screen-sm-min) {
      padding-top: 54px;
    }
    @media (min-width: @screen-lg-min) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 200px;
    }
    @media (min-width: @screen-xl-min) {
      padding-top: 76px;
    }
  }
  .need-heading {
    margin-bottom: 20px;
    @media (max-width: @screen-md-max) {
      text-align: center;
    }
    @media (min-width: @screen-sm-min) {
      margin-bottom: 38px;
    }
    @media (min-width: @screen-lg-min) {
      width: 758px;
    }
    @media (min-width: @screen-xl-min) {
      width: 880px;
    }
    .first-line {
      //font-family: @font-family-sans-serif;
      font-size: 18px;
      width: 185px;
      height: 38px;
      line-height: 38px;
      display: inline-block;
      text-align: center;
      position: relative;
      color: @white;
      z-index: 0;
      font-weight: 700;
      text-transform: uppercase;
      @media (min-width: @screen-sm-min) {
        font-size: 24px;
        width: 185;
        font-weight: 400;
      }
      &:before {
        .transform ( skew(-15deg) );;
        z-index: -1;
        content: "";
        background-color: @index-primary;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    .second-line {
      //font-family: @font-family-sans-serif;
      font-size: 42px;
      text-transform: uppercase;
      color: @white;
      font-weight: 700;
      font-style: italic;
      margin-top: 10px;
      display: block;
      margin-bottom: 18px;
      line-height: 1;
      @media (min-width: @screen-sm-min) {
        font-size: 74px;
        margin-bottom: 25px;
        margin-top: 14px;
      }
      @media (min-width: @screen-md-min) {
        padding: 0 100px;
      }
      @media (min-width: @screen-lg-min) {
        padding: 0;
      }
      @media (min-width: @screen-xl-min) {
        font-size: 90px;
        margin-top: 14px;
      }
    }
  }
  .need-text {
    @media (min-width: @screen-lg-min) {
      .display-flex();
      .flex-align-items(center);
      .flex-justify-content(space-between);
    }
    > ul {
      .ul-zero-out;
      @media (min-width: @screen-md-min) {
        width: 800px;
        margin: 0 auto;
      }
      @media (min-width: @screen-lg-min) {
        width: 64%;
        padding-right: 30px;
      }
      @media (min-width: @screen-xl-min) {
        margin: 0;
        width: 71%;
      }
      li {
        height: 95px;
        @media (min-width: @screen-sm-min) {
          height: auto;
        }
        &:not(:last-child) {
          border-bottom: 1px solid fade(@white, 50%);
        }
        a {
          display: block;
          height: inherit;
          div {
            .display-flex();
            .flex-align-items(center);
            .flex-justify-content(space-between);
            padding-bottom: 15px;
            padding-top: 15px;
            height: inherit;
            .number {
              //font-family: @font-family-sans-serif;
              font-size: 75px;
              font-weight: 700;
              font-style: italic;
              letter-spacing: (-50em)/1000;
              color: @white;
              position: relative;
              width: 88px;
              @media (max-width: @screen-xs-max) {
                display: none;
              }
              @media (min-width: @screen-sm-min) {
                margin-right: 22px;
              }
              @media (min-width: @screen-lg-min) {
                .transition(color 0.3s ease-in-out);
                margin-right: 32px;
                color: @black;
                -webkit-text-stroke: 1px @white;
              }
              @media (min-width: @screen-xl-min) {
                font-size: 90px;
                margin-right: 68px;
              }
              &:before {
                content: "";
                width: 12px;
                height: 12px;
                background-color: @index-primary;
                border-radius: 50%;
                position: absolute;
                bottom: 26px;
                right: 0;
                @media (min-width: @screen-lg-min) {
                  .transition(background-color 0.3s ease-in-out);
                  border: 1px solid @white;
                  background-color: @black;
                }
                @media (min-width: @screen-xl-min) {
                  width: 12px;
                  height: 12px;
                  bottom: 30px;
                  right: -11px;
                }
              }
            }
            .text {
              font-size: 16px;
              letter-spacing: (-50em)/1000;
              color: darken(@white, 27%);
              line-height: 24px;
              width: 225px;
              @media (max-width: @screen-xs-max) {
                display: none;
              }
              @media (min-width: @screen-lg-min) {
                .opacity(0);
                .transition(opacity 0.3s ease-in-out);
              }
              @media (min-width: @screen-xl-min) {
                font-size: 18px;
                width: 333px;
              }
            }
            .title {
              .transition(color 0.3s ease-in-out);
              .display-flex();
              .flex-align-items(center);
              .flex-justify-content(space-between);
              //font-family: @font-family-sans-serif;
              font-size: 42px;
              font-weight: 700;
              font-style: italic;
              text-transform: uppercase;
              -webkit-text-stroke: 1px @white;
              color: transparent;
              width: 100%;
              @media (min-width: @screen-sm-min) {
                .flex-justify-content(flex-start);
                font-size: 55px;
                margin-right: auto;
                width: auto;
                padding-left: 45px;
              }
              @media (min-width: @screen-md-min) {
                font-size: 74px;
              }
              @media (min-width: @screen-xl-min) {
                font-size: 90px;
                padding-left: 48px;
              }
              .fa {
                .transform ( skew(-15deg) );;
                .transition(all 0.3s ease-in-out);
                width: 50px;
                height: 40px;
                border: 1px solid @index-primary;
                line-height: 40px;
                text-align: center;
                color: @index-primary;
                font-size: 20px;
                -webkit-text-stroke: 0 @white;
                @media (min-width: @screen-sm-min) {
                  margin-left: 23px;
                }
                @media (min-width: @screen-lg-min) {
                  .opacity(0);
                  .transition(opacity 0.3s ease-in-out);
                }
                @media (min-width: @screen-xl-min) {
                  width: 60px;
                  height: 60px;
                  line-height: 60px;
                }
                &:before {
                  .transform ( skew(15deg) );;
                  display: block;
                }
              }
            }
          }
          &:hover {
            div {
              .number {
                color: @white;
                &:before {
                  background-color: @index-primary;
                }
              }
              .text {
                @media (min-width: @screen-lg-min) {
                  .opacity(1);
                }
              }
              .title {
                color: @white;
                .fa {
                  @media (max-width: @screen-xs-max) {
                    background-color: @index-primary;
                    color: @white;
                  }
                  @media (min-width: @screen-lg-min) {
                    .opacity(1);
                  }
                }
              }
            }
          }
          &.active {
            div {
              .number {
                color: @white;
                &:before {
                  background-color: @index-primary;
                }
              }
              .text {
                @media (min-width: @screen-lg-min) {
                  .opacity(1);
                }
              }
              .title {
                color: @white;
                .fa {
                  @media (max-width: @screen-xs-max) {
                    background-color: @index-primary;
                    color: @white;
                  }
                  @media (min-width: @screen-lg-min) {
                    .opacity(1);
                  }
                }
              }
            }
          }
        }
        #need-cta3 {
          > div {
            .number {
              &:before {
                right: -17px;
                @media (min-width: @screen-xl-min) {
                  right: -12px;
                }
              }
            }
          }
        }
      }
    }
    .need-image {
      position: relative;
      @media (max-width: @screen-md-max) {
        display: none;
      }
      @media (min-width: @screen-lg-min) {
        height: 565px;
        width: 424px;
      }
      > div {
        .transition(opacity 0.3s ease-in-out);
        .opacity(0);
        position: absolute;
        height: 565px;
        width: 424px;
        img {
          width: 100%;
          height: 100%;
        }
        &.active {
          .opacity(1);
        }
      }
    }
  }
}