//
// Inventory List Core
// --------------------------------------------------

@import "v6-dragonslayer-shim.less";

@-moz-document url-prefix() {
	// Inventory List Firefox specific styles
	body.InventoryList {
		#dvSearch {
			#iSearch {
				height: @grid-gutter-width - 2;
				box-sizing: content-box;
				padding-top: 0px;
				padding-bottom: 0px;
			}
		}
	}
}

body.InventoryList {
	// Inventory List Font Default
	
	#main.xinvlist {
		form {
			font-family: 'Roboto Condensed', sans-serif;
			
			h1, h2, h3, h4, h5, h6 {
				font-family: 'Roboto Condensed', sans-serif;
			}
		}
	}
	
	[data-snippetid="featuredbanner"], [data-snippetid="featuredbannerbelowh1"], [data-snippetid="pagefooter"] {
		.clearfix;
	}
	.MessageDisplayed div#VehBody {
		display: none;
	}
	.paginationWrapper.MessageDisplayed{
		visibility:hidden;
	}
	form[name="main"] {
		width: auto;
		padding: 0 (@grid-gutter-width / 2);
		.clearfix();
	}
	
	// Filter Section
	#filtering {
		padding-top: @grid-gutter-width * 0.5;
		padding-bottom: @grid-gutter-width * 0.5;
		@media (max-width: @screen-xs-max) {
			margin-left: -(@grid-gutter-width / 2);
			margin-right: -(@grid-gutter-width / 2);
		}
	}
	#InvSearchContainer {
		.make-row();
		.clearfix;
		
		padding-bottom: @grid-gutter-width / 3;
		
		#dvFilters {
			.make-sm-column(12);
			.make-md-column(9);
			
			> div {
				.make-row();
				.clearfix;
				
				#dvSortBy {
					.make-xs-column(12);
					.make-sm-column(4);
					
					padding-right: 40px + @grid-gutter-width / 2;
					position: relative;
					
					@media (max-width: @screen-sm-max) {
						padding-bottom: @grid-gutter-width / 3;
					}
					
					select {
						height: @grid-gutter-width;
						padding: 0;
						width: 100%;
					}
					button {
						.btn;
						
						position: absolute;
						top: 0;
						right: @grid-gutter-width / 2;
						height: @grid-gutter-width;
						width: 40px;
						
						.buttontext {
							.sr-only();
						}
						.fa {
							font-size: 16px;
						}
					}
				}// #dvSortBy
				#paginationWrapperTop {
					.make-xs-column(7.4);
					.make-sm-column(4);
					
					@media (max-width: @screen-xs-max) {
						padding-right:0;
						
						#next {
							margin-left: round(@grid-gutter-width / 6);
						}
					}
					
					.pageButton, button {
						.btn;
						
						height: @grid-gutter-width;

						&[aria-disabled="true"] {
							pointer-events: none;
							opacity: 0.65;
						}
						
						.PrevText, .NextText {
							.sr-only();
						}
						.fa {
							font-size: 16px;
						}
					}
					span.pagenumbering {
						height: @grid-gutter-width;
						
						@media (max-width: @screen-xs-max) {
						
							.pageText, .Units {
								display: none;
							}
						}
					}
				}// #paginationWrapperTop
				#InvFilterControls {
					.make-xs-column(4.5);
					.make-sm-column(4);
					
					@media (max-width: @screen-xs-max) {
						float: right;
						padding-left:0;
					}
					
					text-align: right;
					
					button {
						.btn;

						height: @grid-gutter-width;
						
						.fa {
							font-size: 16px;
							margin-left: 5px;
						}
						
						@media (max-width: @screen-xs-max) {
							&#InvMoreOptions {
								width: 58px;
								padding-left: 0;
								padding-right: 0;
							}
							.ResetText {
								.sr-only();
							}
							.fa-undo {
								margin-left: 0;
							}
						}
					}
				}//#InvFilterControls
			}
		}// #dvFilters
	}// #InvSearchContainer
	
	#ShowAllUnits {
		margin-bottom: @grid-gutter-width / 2;
	}
	
	#dvSearch {
		.make-sm-column(12);
		.make-md-column(3);
		
		padding-right: 40px + @grid-gutter-width / 2;
		position: relative;
		
		@media (max-width: @screen-sm-max) {
			padding-bottom: @grid-gutter-width / 3;
		}
		
		input {
			height: @grid-gutter-width;
			width: 100%;
		}
		button {
			.btn;
			
			position: absolute;
			top: 0;
			right: @grid-gutter-width / 2;
			height: @grid-gutter-width;
			width: 40px;
		}
		
		.ClearText {
			display: none;
		}
		.fa {
			font-size: 16px;
		}
		
		#dvSearchErr{
			display: none;
			
			&.err {
				display: block;
			}
		}
		
	}// #dvSearch
	
	#InvToolbar {
		overflow: hidden;
		white-space: nowrap;
		
		ul {
			.make-row();
			.clearfix;
			
			> li {
				.make-xs-column(6);
				.make-sm-column(4);
				.make-md-column(3);
				
				&.DS-HIDDEN {
					display: none;
				}
				&.DS-DISABLED {
					opacity: 0.6;
				}

				select {
					height: @grid-gutter-width;
					padding: 0;
					width: 100%;
				}
			}
		}
	}// #InvToolbar

	// Vehicle Row
	.promotion-price-box {
		position: absolute;
		top: -40px;
		right: 15px;
	}

	.promotion-price-box-spacer {
		height: 40px;
	}

	.vehicle_row_dmrt {
		.make-row();
		.clearfix;
		background: transparent;
		border: solid;
		border-width: 1px;
		border-color: lightgrey;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		margin-bottom: 30px;
		padding-top: 0px;
		padding-bottom: 0px;
		position: relative;
		
		@media (max-width: @screen-sm-max) {
			padding-bottom: @grid-gutter-width / 3;
		}
		
	}// .vehicle_row_dmrt

	// Vehicle Row
	.vehicle_row {
		.make-row();
		.clearfix;
		
		padding-top: @grid-gutter-width * 0.66;
		padding-bottom: @grid-gutter-width * 0.66;
		position: relative;
		
		@media (max-width: @screen-sm-max) {
			padding-top: @grid-gutter-width / 3;
			padding-bottom: @grid-gutter-width / 3;
		}
		
	}// .vehicle_row

	// Start VLP Unit Price area

	.urgency-callout-container {
		@media (min-width: @screen-md-min) {
			justify-content: flex-end;
		}
		display: flex;
		justify-content: flex-start;

		.urgency-callout {
			background: #2ea049;
			color: #fff;
			padding: 5px 10px;
			position: relative;
			z-index: 1;
			bottom: -10px;
			visibility: hidden;
			left: -9px;
			right: auto;
			border-radius: 3px 3px 3px 0;
			@media (min-width: @screen-md-min) {
				right: -9px;
				left: auto;
				border-radius: 3px 3px 0 3px;
			}
		}

		.urgency-callout:after {
			content: "";
			border-top-color: #585858!important;
			border: 5px solid transparent;
			position: absolute;
			bottom: -9px;

			@media (min-width: @screen-md-min) {
				right: 0;
				left: auto;
				border-left-color: #585858!important;
			}
			@media (max-width: @screen-md-min) {
				right: auto;
				left: 0;
				border-right-color: #585858!important;
			}
		}
	}
	
	.price-box-container.active-promotions {
		padding: 10px 8px;
	}

	.price-inline {
		display: inline;
	}
	
	.price-box-align {
		@media (min-width: @screen-md-min) {
			text-align: right;
		}
		text-align: left;
		margin: 5px 0px 5px 0px;
	}

	.price-box {
		font-size: 24px;
	}

	.price-drop-alert {
		text-align: center;
		border: solid;
		margin: 0px 5px 5px;
		border: 1px solid #ddd;
		padding: 3px;
		background-color: #ebebeb;
		margin-left: auto;

		@media (min-width: @screen-md-min) {
			max-width: 200px;
		}
	}

	.ml-10 {
		margin-left: 10px;
	}

	.mt-0 {
		margin-top: 0px!important;
	}
	// End VLP Unit Price area

    [data-unit-make="Harley-Davidson\00AE"] .offer-bar , [data-unit-make="Harley-Davidson"] .offer-bar {
        border-bottom: 8px solid #FA6600;
    }

    [data-unit-make="Indian Motorcycle\00AE"] .offer-bar, [data-unit-make="Indian Motorcycle"] .offer-bar {
        border-bottom: 8px solid #862633;
    }

    [data-unit-make="BMW"] .offer-bar {
        border-bottom: 8px solid #0062ff;
    }

    [data-unit-make="Honda\00AE"] .offer-bar , [data-unit-make="Honda"] .offer-bar {
        border-bottom: 8px solid #E41D30;
    }

     [data-unit-make="BRP"] .offer-bar {
        border-bottom: 8px solid #ffc72c;
    }

    [data-unit-make="Can-Am\00AE"][data-unit-subcategory= "Off-Road"] .offer-bar , [data-unit-make="BRP Can-Am"][data-unit-subcategory= "Off-Road"] .offer-bar {
        border-bottom: 8px solid #ffc72c;
    }

    [data-unit-make="Evinrude"] .offer-bar {
        border-bottom: 8px solid #00245d;
    }

    [data-unit-make="Sea-Doo"] .offer-bar {
        border-bottom: 8px solid #2cd5c4;
    }

    [data-unit-make="Ski-Doo"] .offer-bar {
        border-bottom: 8px solid #ffc72c;
    }

    [data-unit-make="Can-Am\00AE"][data-unit-subcategory= "On-Road"] .offer-bar , [data-unit-make="Can-Am"][data-unit-subcategory= "On-Road"] .offer-bar{
        border-bottom: 8px solid #e03c31;
    }

    [data-unit-make="Airstream"] .offer-bar {
        border-bottom: 8px solid #006BA6;
    }

    [data-unit-make="Airstream"][data-unit-subcategory= "Travel Trailers"] .offer-bar {
        border-bottom: 8px solid #006BA6;
    }

    [data-unit-make="Airstream"][data-unit-subcategory="Touring Coaches"] .offer-bar {
        border-bottom: 8px solid #49142C;
    }

    [data-unit-make="Bobcat"] .offer-bar, [data-unit-make="Bobcat\00AE"] .offer-bar {
        border-bottom: 8px solid #FF3600;
    }

    [data-unit-make="Case IH"] .offer-bar {
        border-bottom: 8px solid #c10a27;
    }

    [data-unit-make="Club Car\00AE"] .offer-bar {
        border-bottom: 8px solid #93754f;
    }

    [data-unit-make="E-Z-GO"] .offer-bar {
        border-bottom: 8px solid #0A2240;
    }

    [data-unit-make="GEM"] .offer-bar , [data-unit-make="GEM\00AE"] .offer-bar {
        border-bottom: 8px solid #0090ba;
    }

   [data-unit-make="Husqvarna\00AE"] .offer-bar {
        border-bottom: 8px solid #273a60;
    }

    [data-unit-make="International\00AE"] .offer-bar {
        border-bottom: 8px solid #f47820;
    }

    [data-unit-make="Isuzu Trucks"] .offer-bar {
        border-bottom: 8px solid #ee1b2e;
    }

    [data-unit-make="John Deere"][data-unit-subcategory= "Backhoe"] .offer-bar {
        border-bottom: 8px solid #ffde00;
    }

    [data-unit-make="John Deere"][data-unit-category= "Loader"] .offer-bar {
        border-bottom: 8px solid #ffde00;
    }

    [data-unit-make="John Deere"][data-unit-category= "Excavator"] .offer-bar {
        border-bottom: 8px solid #ffde00;
    }

    [data-unit-make="John Deere"][data-unit-category= "Skid Steers"] .offer-bar {
        border-bottom: 8px solid #ffde00;
    }

    [data-unit-make="John Deere"][data-unit-subcategory= "Dump Truck"] .offer-bar {
        border-bottom: 8px solid #ffde00;
    }

    [data-unit-make="John Deere"] .offer-bar {
        border-bottom: 8px solid #367c2b;
    }

    [data-unit-make="Kawasaki"] .offer-bar {
        border-bottom: 8px solid #67cb33;
    }

    [data-unit-make="Kubota"] .offer-bar {
        border-bottom: 8px solid #FF6600;
    }

    [data-unit-make="LiuGong"] .offer-bar {
        border-bottom: 8px solid #002D72;
    }

    [data-unit-make="Mahindra"] .offer-bar {
        border-bottom: 8px solid #e31837;
    }

    [data-unit-make="Malibu Boats"] .offer-bar {
        border-bottom: 8px solid #009ac7;
    }

     [data-unit-make="Axis Wake Research"] .offer-bar {
        border-bottom: 8px solid #009ac7;
    }

    [data-unit-make="MAXXD Trailers"] .offer-bar {
        border-bottom: 8px solid #D0202E;
    }

    [data-unit-make="Mercury Marine\00AE"] .offer-bar {
        border-bottom: 8px solid #ed1c28;
    }

    [data-unit-make="New Holland"] .offer-bar {
        border-bottom: 8px solid #F7D417;
    }

    [data-unit-make="Polaris\00AE"] .offer-bar , [data-unit-make="Polaris"] .offer-bar {
        border-bottom: 8px solid #004e97;
    }


    [data-unit-make="Polaris Slingshot\00AE"] .offer-bar {
        border-bottom: 8px solid #000000;
    }

    [data-unit-make="Ascend Kayak"] .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    [data-unit-make="Mako"] .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    [data-unit-make="Regency"] .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    [data-unit-make="Tracker Boats"] .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    [data-unit-make="Ranger Boats"] .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    [data-unit-make="Nitro"] .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    [data-unit-make="Sun Tracker"] .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    [data-unit-make="Triton"] .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    [data-unit-make="Tahoe"] .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    [data-unit-make="Tracker Off-Road"] .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

	[data-unit-make="CFMOTO"] .offer-bar {
        border-bottom: 8px solid #009bb4;
    }

	[data-unit-make="Roxor"] .offer-bar {
        border-bottom: 8px solid #e31837;
    }

    .dspMake-HARLEY-DAVIDSON- .offer-bar , .dspMake-HARLEY-DAVIDSON .offer-bar {
        border-bottom: 8px solid #FA6600;
    }

    .dspMake-INDIAN-MOTORCYCLE- .offer-bar, .dspMake-INDIAN-MOTORCYCLE .offer-bar {
        border-bottom: 8px solid #862633;

    }

    .dspMake-BMW .offer-bar , .dspMake-BMW- .offer-bar {
        border-bottom: 8px solid #0062ff;
    }

    .dspMake-HONDA- .offer-bar , .dspMake-HONDA .offer-bar {
        border-bottom: 8px solid #E41D30;
    }

    .dspMake-BRP .offer-bar {
        border-bottom: 8px solid #ffc72c;
    }

    .dspMake-CAN-AM.dspSubType-OFF-ROAD .offer-bar {
        border-bottom: 8px solid #ffc72c;
    }

    .dspMake-EVINRUDE .offer-bar {
        border-bottom: 8px solid #00245d;
    }

    .dspMake-SEA-DOO .offer-bar {
        border-bottom: 8px solid #2cd5c4;
    }

    .dspMake-SKI-DOO .offer-bar {
        border-bottom: 8px solid #ffc72c;
    }

    .dspMake-CAN-AM-.dspSubType-ON-ROAD .offer-bar {
        border-bottom: 8px solid #e03c31;
    }

    .dspMake-AIRSTREAM .offer-bar {
        border-bottom: 8px solid #006BA6;
    }

    .dspMake-AIRSTREAM.dspSubType-TRAVEL-TRAILERS .offer-bar {
        border-bottom: 8px solid #006BA6;
    }

    .dspMake-AIRSTREAM.dspBrand-TOURING-COACHES .offer-bar {
        border-bottom: 8px solid #49142C;
    }

    .dspMake-BOBCAT- .offer-bar, .dspMake-BOBCAT .offer-bar {
        border-bottom: 8px solid #FF3600;
    }

    .dspMake-CASE-IH .offer-bar {
        border-bottom: 8px solid #c10a27;
    }

    .dspMake-CLUB-CAR- .offer-bar {
        border-bottom: 8px solid #93754f;
    }

    .dspMake-E-Z-GO .offer-bar {
        border-bottom: 8px solid #0A2240;
    }

    .dspMake-GEM- .offer-bar , .dspMake-GEM .offer-bar {
        border-bottom: 8px solid #0090ba;
    }

    .dspMake-HUSQVARNA- .offer-bar {
        border-bottom: 8px solid #273a60;
    }

    .dspMake-INTERNATIONAL- .offer-bar {
        border-bottom: 8px solid #f47820;
    }

    .dspMake-ISUZU-TRUCKS .offer-bar {
        border-bottom: 8px solid #ee1b2e;
    }

    .dspMake-JOHN-DEERE.dspBodyType-EXCAVATOR .offer-bar {
    border-bottom: 8px solid #ffde00
    }

    .dspMake-JOHN-DEERE.dspBodyType-LOADER .offer-bar {
    border-bottom: 8px solid #ffde00
    }

    .dspMake-JOHN-DEERE.dspBodyType-SKID-STEERS .offer-bar {
    border-bottom: 8px solid #ffde00
    }

    .dspMake-JOHN-DEERE.dspSubType-DUMP-TRUCK .offer-bar {
    border-bottom: 8px solid #ffde00
    }
     
    .dspMake-JOHN-DEERE.dspSubType-BACKHOE .offer-bar {
    border-bottom: 8px solid #ffde00
    }

    .dspMake-JOHN-DEERE .offer-bar {
    border-bottom: 8px solid #367c2b
    }

    .dspMake-KAWASAKI .offer-bar {
        border-bottom: 8px solid #67cb33;
    }

    .dspMake-KUBOTA .offer-bar {
        border-bottom: 8px solid #FF6600;
    }

    .dspMake-LIUGONG .offer-bar {
        border-bottom: 8px solid #002D72;
    }

    .dspMake-MAHINDRA .offer-bar {
        border-bottom: 8px solid #e31837;
    }

    .dspMake-MALIBU-BOATS .offer-bar {
        border-bottom: 8px solid #009ac7;
    }

    .dspMake-AXIS-WAKE-RESEARCH .offer-bar {
        border-bottom: 8px solid #009ac7;
    }

    .dspMake-MAXXD-TRAILERS .offer-bar {
        border-bottom: 8px solid #D0202E;
    }

    .dspMake-MERCURY-MARINE- .offer-bar {
        border-bottom: 8px solid #ed1c28;
    }

    .dspMake-NEW-HOLLAND .offer-bar {
        border-bottom: 8px solid #F7D417;
    }

    .dspMake-POLARIS- .offer-bar, .dspMake-POLARIS .offer-bar {
        border-bottom: 8px solid #004e97;
    }

    .dspMake-POLARIS-SLINGSHOT- .offer-bar {
        border-bottom: 8px solid #000000;
    }

    .dspMake-ASCEND-KAYAK .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    .dspMake-MAKO .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    .dspMake-REGENCY .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    .dspMake-TRACKER-BOATS .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    .dspMake-RANGER-BOATS .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    .dspMake-NITRO .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    .dspMake-SUN-TRACKER .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    .dspMake-TRITON .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    .dspMake-TAHOE .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

    .dspMake-TRACKER-OFFROAD .offer-bar {
        border-bottom: 8px solid #0b3254;
    }

	.dspMake-CFMOTO .offer-bar {
        border-bottom: 8px solid #009bb4;
    }

	.dspMake-ROXOR .offer-bar {
        border-bottom: 8px solid #e31837;
    }

	.offer-bar {
		width: 100%;
		display: block;
		text-align: center;
		background: #000;
		color: #fff;
		padding: 12px;
		border-radius: 5px 5px 0 0;
		font-size: 1.1em;
		text-decoration: none;
		border-bottom: 8px solid #ffd200;
	}
		
	.unitImage {
		.make-xs-column(8);
		.make-xs-column-offset(2);
		.make-sm-column(3);
		.make-sm-column-offset(0);
		
		padding-left: 0px!important;

		@media (max-width: @screen-sm-max) {
			padding-bottom: @grid-gutter-width / 2;
		}
		
		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			padding-bottom: @grid-gutter-width * 0.5 + 25px + @grid-gutter-width / 3;
		}
		
		> div {
			.make-row();
			.clearfix;

			.unitImgCol {
				.make-xs-column(12);
				
				position: relative;
				
				img.unitImg {
					.img-responsive;
				}
				
				.unitImgOverlay {
					position: absolute;
					top: 0;
					right: 0;
					z-index: 2;
				}
			}
		}
		> a {
			.clearfix;
			
			display: block;
			padding: @grid-gutter-width / 4 @grid-gutter-width / 2;
			
			> .fa {
				float: left;
				font-size: 25px;
				height: 25px;
				margin-right: @grid-gutter-width / 3;
				width: 25px;
			}
			> .buttontext {
				float: left;
				height: 25px;
				line-height: 25px;
				vertical-align: middle;
			}
			> .videoContent {
				.sr-only;
			}
		}
		
		.img-overlay-container {
			div.image_overlay {
				display: none;
				
				&.visible {
					position: absolute;
					display: block;
					right: @grid-gutter-width / 2;
					top: 0;
					opacity: 0.8;
					padding: @grid-gutter-width / 3 @grid-gutter-width / 2;
					
					@media (max-width: @screen-sm-max) {
						left: @grid-gutter-width / 2;
						padding-left: 0;
						padding-right: 0;
						text-align: center;
					}
					
					p {
						margin: 0;
						text-transform: center;
					}
				}
			}
			
			&:hover {
				div.image_overlay {
					display: none;
				}
			}
		}
	}// .unitImage
	.images-2 {
		.unitImage {
			.make-sm-column(12);
			.make-sm-column-offset(0);
			.make-md-column(4);
			
			> div {
				.make-row();
				.clearfix;
				
				.unitImgCol {
					.make-sm-column(6);
					
					&:nth-child(2) {
						.hidden-xs;
					}
				}
			}
		}// .unitImage
		
		.unitDesc {
			.make-sm-column(12);
			.make-md-column(6);	
		}
	}// .images-2
	.images-0 {
		.imageRow {
			position: relative;
			margin: 0;
			padding-bottom: 75%;

			.img-overlay-container {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				
				.thumbImage {
					position: absolute;
					left: 0;
					display: block;
					width: 100%;
					text-align: center;
				}
				.img_overlay {
					right: 0;
				}
			}
		}
	}//.images-0
		
	// Unit Data Block dmrt
	.unitDataBlock_dmrt {
		.make-xs-column(12);
		.make-sm-column(9);
		
		position: static;
		padding-bottom: @grid-gutter-width * 0.5 + 10px + @grid-gutter-width / 2;
		padding-right: 0px!important;
				
		@media (max-width: @screen-xs-max) {
			padding-bottom: @grid-gutter-width + 50px + @grid-gutter-width / 3;
		}
		
		.textbuttons {
			.make-sm-column(12);
			.make-md-column(9);
			
			position: absolute;
			bottom: 0;
			right: 0;
			
			ul {
				.make-row();
				.clearfix;
				
				padding: 0;
				position: relative;
				height: @grid-gutter-width * 0.5 + 25px;
				overflow: hidden;
				white-space: nowrap;
				
				@media (max-width: @screen-xs-max) {
					height: @grid-gutter-width + 50px;
				}
				
				> li {
					.make-xs-column(12);
					.make-sm-column(3);
					.make-sm-column-pull(3);
					
					display: none;
					list-style: none;
					padding: 0;
					
					&.textbutton {
						display: block;
					}
					&.invViewDetails {
						.make-sm-column-push(9);
					}
					
					&.disabled {
						display: none; // hides this CTA button post respective form's submission
					}
					
					> a {
						.clearfix;
						
						display: block;
						padding:  @grid-gutter-width / 4 @grid-gutter-width / 3;
						
						> .fa {
							float: left;
							font-size: 25px;
							height: 25px;
							margin-right: @grid-gutter-width / 3;
							width: 25px;
							
							
						}
						> .buttontext {
							float: left;
							height: 25px;
							line-height: 25px;
							vertical-align: middle;
						}
						> .textbuttonArrow {
							display: none;
						}
					}
				}	
			}
		}// .textbuttons
	}// .unitDataBlock_dmrt

	// Unit Data Block
	.unitDataBlock {
		.make-xs-column(12);
		.make-sm-column(9);
		
		position: static;
		padding-bottom: @grid-gutter-width * 0.5 + 25px + @grid-gutter-width / 2;
		padding-right: 0px!important;
				
		@media (max-width: @screen-xs-max) {
			padding-bottom: @grid-gutter-width + 50px + @grid-gutter-width / 3;
		}
		
		.textbuttons {
			.make-sm-column(12);
			.make-md-column(9);
			
			position: absolute;
			bottom: @grid-gutter-width * 0.66;
			right: 0;
			
			@media (max-width: @screen-sm-max) {
				bottom: @grid-gutter-width / 3;
			}
			
			ul {
				.make-row();
				.clearfix;
				
				padding: 0;
				position: relative;
				height: @grid-gutter-width * 0.5 + 25px;
				overflow: hidden;
				white-space: nowrap;
				
				@media (max-width: @screen-xs-max) {
					height: @grid-gutter-width + 50px;
				}
				
				> li {
					.make-xs-column(12);
					.make-sm-column(3);
					.make-sm-column-pull(3);
					
					display: none;
					list-style: none;
					padding: 0;
					
					&.textbutton {
						display: block;
					}
					&.invViewDetails {
						.make-sm-column-push(9);
					}
					
					&.disabled {
						display: none; // hides this CTA button post respective form's submission
					}
					
					> a {
						.clearfix;
						
						display: block;
						padding:  @grid-gutter-width / 4 @grid-gutter-width / 3;
						
						> .fa {
							float: left;
							font-size: 25px;
							height: 25px;
							margin-right: @grid-gutter-width / 3;
							width: 25px;
							
							
						}
						> .buttontext {
							float: left;
							height: 25px;
							line-height: 25px;
							vertical-align: middle;
						}
						> .textbuttonArrow {
							display: none;
						}
					}
				}	
			}
		}// .textbuttons
	}// .unitDataBlock
	
	.invUnitHeader_dmrt {
		padding-top: 10px;

		.make-row();
		.clearfix;
		 
		.unitTitle {
			.make-sm-column(6);
			.make-md-column(7);
			.make-lg-column(8);
			
			h2 {
				font-size: @font-size-h4;
				margin: 0;
			}
		}
		.unitPrice {
			.make-sm-column(6);
			.make-md-column(5);
			.make-lg-column(4);

			@media (min-width: @screen-md-min) {
				padding-left: 15px;
			}

			padding-left: 0px;
			
			h3 {
				font-size: @font-size-h4;
				margin: 0;
				text-align: right;
				
				@media (max-width: @screen-xs-max) {
					text-align: left;
				}
			}
			
			.dvPriceGroup {
				max-width: 190px;
				@media (min-width: @screen-md-min) {
					text-align: right;
					max-width: inherit;
				}

				label {
					display: inline-block;
					width: 50%;
					margin-bottom: 0;
					padding: @grid-gutter-width / 10 0 @grid-gutter-width / 10 @grid-gutter-width / 3;
				}
				span {
					display: inline-block;
					width: 50%;
					padding: @grid-gutter-width / 10 @grid-gutter-width / 3 @grid-gutter-width / 10 0;
					text-align: right;
					
					&.InvLowestPrice {
						width: 100%;
						padding-right: 0;
						text-align: center;
					}
				}
				
			}

			.InvDestinationCharge, .InvFreightCharges {
				font-size: 12px;
				line-height: 1.2;
				padding: 5px 0;
				text-align: right;
			}
		}
		.unitCommentDMRT {
			margin-top: 90px!important;
		}
		.unitComment {
			.hidden-xs;
			.make-sm-column(12);
			
			margin-top: 10px;
			padding-bottom: round(@grid-gutter-width / 3);
			padding-top: @grid-gutter-width / 6;
			
			@media (max-width: @screen-sm-max) {
				padding-bottom: @grid-gutter-width / 1.5;
			}
			
			.InventoryComment {
				height: 22px;
				line-height: 22px;
				overflow: hidden; 
				white-space: nowrap; 
				text-overflow: ellipsis;
			}
		}
	}// .invUnitHeader_dmrt
			
	.invUnitHeader {
		.make-row();
		.clearfix;
		 
		.unitTitle {
			.make-sm-column(6);
			.make-md-column(7);
			.make-lg-column(8);
			
			h2 {
				font-size: @font-size-h4;
				margin: 0;
			}
		}
		.unitPrice {
			.make-sm-column(6);
			.make-md-column(5);
			.make-lg-column(4);

			@media (min-width: @screen-md-min) {
				padding-left: 15px;
			}

			padding-left: 0px;
			
			h3 {
				font-size: @font-size-h4;
				margin: 0;
				text-align: right;
				
				@media (max-width: @screen-xs-max) {
					text-align: left;
				}
			}
			
			.dvPriceGroup {
				max-width: 190px;
				@media (min-width: @screen-md-min) {
					text-align: right;
					max-width: inherit;
				}

				label {
					display: inline-block;
					width: 50%;
					margin-bottom: 0;
					padding: @grid-gutter-width / 10 0 @grid-gutter-width / 10 @grid-gutter-width / 3;
				}
				span {
					display: inline-block;
					width: 50%;
					padding: @grid-gutter-width / 10 @grid-gutter-width / 3 @grid-gutter-width / 10 0;
					text-align: right;
					
					&.InvLowestPrice {
						width: 100%;
						padding-right: 0;
						text-align: center;
					}
				}
				
			}

			.InvDestinationCharge, .InvFreightCharges {
				font-size: 12px;
				line-height: 1.2;
				padding: 5px 0;
				text-align: right;
			}
		}
		.unitComment {
			.hidden-xs;
			.make-sm-column(12);
			
			padding-bottom: round(@grid-gutter-width / 3);
			padding-top: @grid-gutter-width / 6;
			
			@media (max-width: @screen-sm-max) {
				padding-bottom: @grid-gutter-width / 1.5;
			}
			
			.InventoryComment {
				height: 22px;
				line-height: 22px;
				overflow: hidden; 
				white-space: nowrap; 
				text-overflow: ellipsis;
			}
		}
	}// .invUnitHeader
	
	.invUnitInfo {
		.make-row();
		.clearfix;
		
		margin-top: @grid-gutter-width / 2;
		
		@media (max-width: @screen-xs-max) {
			margin-top: 0;
		}
		
		.VehicleDetail {
			.make-sm-column(9);
			.make-lg-column(10);
			
			@media (max-width: @screen-xs-max) {
				padding-top: @grid-gutter-width / 3;
				padding-bottom: @grid-gutter-width / 3;
			}
			.vehicle-price__price{
				padding-right:5px;
			}
			
			.unitSpecs {
				.make-row();
				.clearfix;
				
				padding-left: 0;
				
				> li {
					.make-sm-column(6);
					
					list-style: none;
					padding-bottom: 0;
					
					> .unitLabel {
						display: inline-block;
						min-width: 40%;
						vertical-align: top;
						
						&:after {
							content: " :";
							display: inline-block;
						}	
					}
					> .unitValue {
						display: inline-block;
						max-width: 60%;
						min-width: 40%;
					}
					> .unitStatus {
						padding: 4px 8px;
						border-radius: 4px;
						color: @white;
						background-color: @brand-primary;
					}
				}
			}// .unitSpecs
		}// .VehicleDetail
		
		.unitBrand {
			.hidden-xs;
			.make-sm-column(3);
			.make-lg-column(2);
			
			> img {
				display: block;
				margin: 0 auto;
			}
		}// .unitBrand
	}// .invUnitInfo
	
	#paginationWrapperBottom {
		.nav {
			float: right;
			padding-top: @grid-gutter-width / 3;
			padding-bottom: @grid-gutter-width / 3;
			text-align: right;
		}
		
		span.pagenumbering {
			height: @grid-gutter-width;
		}
		.pageButton, button {
			.btn;
			
			height: @grid-gutter-width;

			&[aria-disabled="true"] {
				pointer-events: none;
				opacity: 0.65;
			}
			
			.PrevText, .NextText {
				.sr-only();
			}
			.fa {
				font-size: 16px;
			}
		}
	}// #paginationWrapperBottom
	
	// Ascending/Descending Filter
	#filtering {
		.ascendingOrder {
			display: none;
		}
		.descendingOrder {
			display: inline;
		}
	}
	
	&.SORT-ASC {
		#filtering {
			.ascendingOrder {
				display: inline;
			}
			.descendingOrder {
				display: none;
			}
		}
	}
	
	// More Options Drop Down
	#filtering {
		#InvSearchContainer {
			.lesstext, .fa-caret-up {
				display: none;
			}
			.moretext, .fa-caret-down {
				display: inline;
			}
		}
		
		#InvToolbar {
			height: @grid-gutter-width;
			
		}
	}
	
	&.ALLOPTIONS {
		#filtering {
			#InvSearchContainer {
				.moretext, .fa-caret-down {
					display: none;
				}
				.lesstext, .fa-caret-up {
					display: inline;
				}
			}
			
			#InvToolbar {
				height: auto;
			}
		}
	}

    // Financing EFS Banner 
    .unitImage .financing-efs__link {
        .financing-efs-link-banner; // from mixins
        padding: 0;
		text-transform: none;
		@media (max-width: @screen-sm-max) {
			display: none;
		}
        .financing-efs__banner {
            padding: 15px 20px 18px;
        }
        .financing-efs__title {
            font-size: 18px;
            line-height: 1;
            @media (min-width: @screen-md-min) {
                line-height: inherit;
            }
            @media (min-width: @screen-lg-min) {
                font-size: 24px;
            }
        }
        .financing-efs__description {
			font-size: 16px;
        }
    }
    // EFS Text button 
    .textbuttons [data-financing="EFS"] .financing-efs__link {
		.financing-efs-link-text;
        .textbuttonIcon {
            display: none;
		}
		.textbuttonArrow {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			display: block;
			margin: 0;
			font-size: 22px;
			line-height: 38px;
		}
    }
}// body.InventoryList

#dvCompareModels {
	display: none;
}
#INV-VEHGROUPS {
	display: none;
}


// two image row 'DS1RVLayout'
body.InventoryList {
	.vehicle_row.DS1RVLayout {
		.invUnitHeader  {
			margin:0;
			padding-bottom: 15px;
			
			.unitTitle {
				.make-sm-column(8);
			}
			
			.unitPrice  {
				@media (min-width: @screen-sm-min){
					width: 40%;
					padding: 0 15px;
					float: right;
				}
			}
			
			.unitComment {
				.make-sm-column(9);
				border: none;
				padding-bottom: 0;
				padding-top:0;
			}
			
			&:after {
				content:" ";
				display: block;
				width: auto;
				margin-left: 15px;
				margin-right: 15px;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: @gray-dark;
				padding-top: 15px;
			}
		}
		
		&.images-1, &.images-0 {
			
			.unitImage {
				.make-xs-column(12);
				.make-sm-column(12);
				.make-md-column(2.5);
				padding-bottom: 15px;
				z-index: 2;
			}
			
			.invUnitInfo {
				margin:0;
				padding-bottom: 15px;
				.make-sm-column(12);
				.make-md-column(9.5);
				
				@media (min-width: @screen-md-min){
					padding-left: 7.5px;
				}
				
				> * {
					padding-left: 0;
				}
				
				.VehicleDetail {
					padding-right: 15px;
				}
			}
			.invUnitInfo {
				
			}
		}
		
		&.images-2 {
			
			.unitImage {
				.make-xs-column(12);
				.make-sm-column(12);
				.make-md-column(5);
				padding-bottom: 15px;
				z-index: 2;
			}
			
			.unitImgCol  {
				
				&.InventoryPic2 {
					.clearfix;
					
					img {
						@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
							float: right;
						}
					}
					
					@media (min-width: @screen-md-min){
						padding-left: 7.5px;
						padding-right: 15px;
					}
				}
			}
			
			.invUnitInfo {
				margin:0;
				padding-bottom: 15px;
				.make-sm-column(12);
				.make-md-column(7);
				
				@media (min-width: @screen-md-min){
					padding-left: 0;
				}
				
				> * {
					padding-left: 0;
				}
				
				.VehicleDetail {
					padding-right: 15px;
				}
				
			}
		}
		
		.unitImage {
			margin: 0;
			
			@media (max-width: @screen-xs-max){
				.clearfix;
			}
			
			> a{ // button appears below unit images
				.hidden-xs;
				.hidden-sm;
				position: absolute;
				bottom: -40px;
				margin:0;
				left:15px;
				
				@media (min-width: @screen-md-min){
					width: 173.25px;
				}
				
				@media (min-width: @screen-lg-min){
					width: 215px;
				}
			}
		}
		
		.unitDataBlock {
			width: auto;
			float: none;
			padding:0;
			.clearfix;
			
			> * {
				z-index: 1;
			}
			
			.imageRow {
				.row;
			}
			
			.unitImgCol  {
				@media (min-width: @screen-md-min){
					padding-left: 15px;
					padding-right: 7.5px;
				}
			
				img {
					margin: 0 auto;
					
					@media (min-width: @screen-sm-min){ 
						margin: auto;
					}
				}
			}
			
			.unitDesc {display: none;} // this element should not be here.
			
			.unitCTAs {
				.clearfix;
				clear: both;
				
				.textbuttons {
					position: static;
					float: none;
					width: auto;
					
					@media (min-width: @screen-md-min){
						padding-left: 217px;
					}
					
					@media (min-width: @screen-lg-min){
						padding-left: 260px;
					}
				}
			}
		}
	}
}
#div-pricedrop-form input::placeholder{ //chrome, Firefox, Opera, Safari 10.1+
    color: lighten(@black,40%);
    opacity:1;
}
#div-pricedrop-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lighten(@black,40%);
}
   
#div-pricedrop-form ::-ms-input-placeholder { /* Microsoft Edge */
    color: lighten(@black,40%);
}

.psm-inventoryupdate-content input::placeholder{ //chrome, Firefox, Opera, Safari 10.1+
    color: lighten(@black,40%);
    opacity:1;
}
.psm-inventoryupdate-content :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lighten(@black,40%);
}
   
.psm-inventoryupdate-content ::-ms-input-placeholder { /* Microsoft Edge */
    color: lighten(@black,40%);
}